/*#E4002B*/

/**
*** General ***
**/

.heading-font {
	font-family: 'Cinzel', serif;
}

.sub-heading-font {
	font-family: 'Julius Sans One', sans-serif;
}

.body-font {
	font-family: 'Lato', sans-serif;
}

.red-color {
	color: #E4002B;
}

.red-bg {
	background-color: #E4002B;
}

.gray-color {
	color: #F2F2F2;
}

.gray-bg {
	background-color: #F2F2F2;
}

.black-color {
	color: #000000;
}

.black-bg {
	background-color: #000000;
}

.social-media-link {
	display: inline-block;
	transition: color 0.2s;
	-webkit-transition: color 0.2s
	-moz-transition: color 0.2s;
	-o-transition: color 0.2s;
}

.social-media-link#facebook-link:hover i {
	color: #4267B2;
}

.social-media-link#twitter-link:hover i {
	color: #1DA1F2;
}

.social-media-link#google-plus-link:hover i {
	color: #DC5043;
}

.social-media-link#phone-link:hover i {
	color: #00CB0D;
}

/**
*** /General ***
**/

/**
*** Topbar *** 
**/
.topbar {
	position: fixed;
	width: 100%;
	background-color: #F2F2F2;
	z-index: 100;
}

.topbar .btn:hover {
	color: #E4002B;
	
	transition: color 0.2s;
	-webkit-transition: color 0.2s;
	-moz-transition: color 0.2s;
	-o-transition: color 0.2s;
}

.topbar .btn:focus {
	box-shadow: none;
}

.masthead-brand {
	display: inline-block;
	font-size: 2vw;
	margin: 5px 0px;
}

.masthead-number {
	font-size: 1vw;
	font-weight: 500;
}

.nav-masthead {
	display: inline-block;
}

.topbar-border {
	content: ' ';
	height: 3px;
	width: 100%;
}

.nav-item a {
	color: #000000;
	font-size: 1.5rem;
}

.nav-item a:hover {
	color: #E4002B;
	
	transition: color 0.2s;
	-webkit-transition: color 0.2s;
	-moz-transition: color 0.2s;
	-o-transition: color 0.2s;
}


/**
*** /Topbar *** 
**/


/**
*** Home Page ***
**/

#home-page {
	background-image: url('../img/home-page-bg2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	/*background-position: -50px;*/
}

#museum-heading {
	font-size: 9vw;
	color: #f2f2f2;
	opacity: 0.7;
}

#museum-tagline {
	font-size: 2vw;
}

#home-page-social i {
	opacity: 0.7;
}

.heading-border {
	content: ' ';
	height: 10px;
	width: 100%;
	/*opacity: 0.7;*/
}

.page {
	position: relative;
}

.scroll-icon {
	bottom: 10px;
	text-align: center;
}

.scroll-icon i {
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 10px;
}

/**
*** /Home Page ***
**/

/**
*** Events Page ***
**/
#events-page {
	background-image: url('../img/home-page-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.page-heading h1{
	position: relative;
}

.page-heading h1::before{
	content: ' ';
	position: absolute;
	background-color: #E4002B;
	height: 100%;
	width: 5px;
	left: -10px;
}
/**
*** /Events Page ***
**/