/*#E4002B*/

/**
*** General ***
**/

.heading-font {
	font-family: 'Cinzel', serif;
}

.sub-heading-font {
	font-family: 'Julius Sans One', sans-serif;
}

.body-font {
	font-family: 'Lato', sans-serif;
}

.red-color {
	color: #E4002B;
}

.red-bg {
	background-color: #E4002B;
}

.gray-color {
	color: #F2F2F2;
}

.gray-bg {
	background-color: #F2F2F2;
}

.black-color {
	color: #000000;
}

.black-bg {
	background-color: #000000;
}

/**
*** /General ***
**/

/**
*** Topbar *** 
**/
.topbar {
	position: fixed;
	width: 100%;
	background-color: #F2F2F2;
	text-align: center;
}

.topbar .btn:hover {
	color: #E4002B;
	
	transition: color 0.2s;
	-webkit-transition: color 0.2s;
	-moz-transition: color 0.2s;
	-o-transition: color 0.2s;
}

.masthead-brand {
	display: inline-block;
	font-size: 2vw;
	margin: 5px 0px;
}

.masthead-number {
	font-size: 1vw;
	font-weight: 500;
}

.nav-masthead {
	display: inline-block;
}

.topbar-border {
	content: ' ';
	height: 3px;
	width: 100%;
}

/**
*** /Topbar *** 
**/



#home-page {
	background-image: url('../img/home-page-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	/*background-position: -50px;*/
}

#museum-heading {
	font-size: 9vw;
	color: #f2f2f2;
	opacity: 0.7;
}

.heading-border {
	content: ' ';
	height: 10px;
	width: 100%;
	opacity: 0.7;
}